/* You can add global styles to this file, and also import other style files */
* {
    /* So 100% means 100% */
    box-sizing: border-box;
  }
  html, body {
    /* Make the body to be as tall as browser window */
    height: 100%;
  }
body { margin: 0; font-family: 'Roboto', sans-serif; }

.bold{
  font-weight: bold;
}

.green {
  color: green;
}
