<form (ngSubmit)="closeDialog(form)" #form="ngForm">
  <h1 mat-dialog-title>Restroom creation</h1>
  <div mat-dialog-content>
    <div class="relative">
      <div class="float-left icon">
        <i class="material-icons inline-block absolute">scatter_plot</i>
      </div>
      <div class="inline-block w-25">
        <mat-form-field>
          <input matInput placeholder="UID" [ngModel]="guid" disabled name="id" id="id">
        </mat-form-field>
      </div>
    </div>

    <div class="relative">
      <div class="float-left icon">
        <i class="material-icons inline-block">location_on</i>
      </div>
      <div class="inline-block w-25">
        <mat-form-field [hideRequiredMarker]="true">
          <input matInput placeholder="Address" ngModel autofocus name="cityAddress" id="cityAddress" required>
        </mat-form-field>
      </div>
      <div class="inline-block w-25 coordinates">
        <mat-form-field [hideRequiredMarker]="true">
          <input matInput placeholder="Coordinates" ngModel name="address" id="address" required>
        </mat-form-field>
      </div>
    </div>

    <div class="relative">
      <div class="float-left icon">
        <i class="material-icons inline-block">build</i>
      </div>
      <div class="inline-block w-25">
        <mat-form-field class="inline-block" [hideRequiredMarker]="true">
          <input matInput placeholder="Company" ngModel name="company" id="company" required>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button type="button" mat-button (click)="dialogRef.close()">Cancel</button>
    <button type="submit" mat-button>Create</button>
  </div>
</form>