:host{
    flex: 1;/* 1 and it will fill whole space left if no flex value are set to other children*/
}
mat-sidenav {
    width: 230px;
}
mat-nav-list {
    font-size: 0.95rem;
}

.menu-toolbar {
    height: 100px;
}

.userInfo {
    position: absolute;
    bottom: 10px;
    left: 0;
    font-weight: initial;
    font-size: 0.8rem;
    padding-left: 5%;
}

.userInfo > div {    
    height: 25px;
}

mat-toolbar {
    position: relative;
}