<mat-sidenav-container class="h100p">
  <mat-sidenav #drawer
               class="sidenav"
               fixedInViewport="false"
               [attr.role]="'navigation'"
               [mode]="'side'"
               [opened]="true">
    <mat-toolbar class="menu-toolbar" color="primary">
      <div class="userInfo">
        <div class="fullname">{{user.fullname}}</div>
        <div class="username">{{user.username}} - <span class="role">System admin</span></div>
        
      </div>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/restrooms">
        <i class="material-icons">wc</i>
        <span>Restrooms</span>
      </a>
      <a mat-list-item routerLink="/adduser">
        <i class="material-icons">person</i>
        <span>Add user</span>
      </a>
      <a mat-list-item routerLink="/reports">
        <i class="material-icons">flag</i>
        <span>User reports</span>
      </a>
      <hr class="ng-tns-c14-2 ng-star-inserted">
      <a mat-list-item (click)="logout()">
        <i class="material-icons">exit_to_app</i>
          <span>Exit</span>
      </a>
    </mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-content>
    
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
