<mat-sidenav-container class="h100p">
  <mat-sidenav #drawer
               class="sidenav"
               fixedInViewport="false"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="!(isHandset$ | async)">
    <mat-toolbar class="menu-toolbar" color="primary">
      <div class="userInfo">
        <div>Tiziano Qualunquelli</div>
        <div>admin</div>        
      </div>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/restrooms">
        <i class="material-icons">wc</i>
        <span>Restrooms</span>
      </a>
      <hr class="ng-tns-c14-2 ng-star-inserted">
      <a mat-list-item (click)="logout()">
        <i class="material-icons">exit_to_app</i>
          <span>Exit</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
