  table {
    width: 100%;
  }
  
  :host > div {
    height: 100%;
    max-height: calc(100vh - 90px);
    overflow-y: scroll;
  }

  th:nth-child(1), td:nth-child(1) {
    width: 15%;
}
th:nth-child(2), td:nth-child(2) {
  width: 10%;
}
th:nth-child(3), td:nth-child(3) {
  width: 70%;
}