
table {
    width: 100%;
  }
  
  tr.detail-row {
    height: 0;
  }
  
  tr.element-row:not(.expanded-row):hover {
    background: #f5f5f5;
  }
  
  tr.element-row:not(.expanded-row):active {
    background: #efefef;
  }
  
  .element-row td {
    border-bottom-width: 0;
  }
  
  .element-detail {
    overflow: hidden;
    display: flex;
  }   
  .element-description {
    padding: 16px;
  }  

  .element-description .description {
    display: inline-block;
    width:70px;
  }

  .element-description div.float-right {
    margin-left: 20px;
  }

  .element-description .material-icons {
    margin-right: 15px;
    color: darkgray;
    padding-top: 6px;
  }
  
  .element-description .capacities {
    padding-left:60px;
  }
  .element-description .capacities > div {
    clear: both;
  }
  
  .element-description .capacities > div > span:first-child {
    margin-right: 20px;
    display: inline-block;
  }
  .element-description .capacities > div > span:last-child {
    padding-left: 5px;
  }
  .element-description .capacities > div > mat-progress-bar{
    margin-top:5px;
  }

  mat-progress-bar {
    margin-bottom: 10px;
    width: 120px;
    height: 10px;
  }