<table mat-table [dataSource]="restRooms" multiTemplateDataRows class="mat-elevation-z8">
  <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
    <th mat-header-cell *matHeaderCellDef> {{column}} </th>
    <div class="button-row">
      <button mat-mini-fab color="primary">Primary</button>
    </div>
    <td>
      <i class="material-icons" (click)="deleteRow">exit_to_app</i>
    </td>
    <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
      <div class="element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <div class="element-description">
          <div>
            <i class="material-icons float-left">scatter_plot</i>
            <mat-form-field>
              <input matInput placeholder="UID" disabled [value]="element.id">
            </mat-form-field>
          </div>
          <div>
            <i class="material-icons float-left">location_on</i>
            <div class="float-left w-20">
              <mat-form-field>
                <input matInput placeholder="Address" disabled [value]="element.cityAddress">
              </mat-form-field>
            </div>
            <div class="float-right w-20">
              <mat-form-field>
                <input matInput placeholder="Coordinates" disabled [value]="element.address">
              </mat-form-field>
            </div>
          </div>
          <div>
            <i class="material-icons float-left">build</i>
            <div>
              <mat-form-field>
                <input matInput placeholder="Company" disabled [value]="element.company">
              </mat-form-field>
            </div>
          </div>
          <div>
            <i class="material-icons float-left">delete</i>
            <div>
              <mat-form-field>
                <input matInput disabled value="Trash capacities:">
              </mat-form-field>
              <div class="capacities">
                <div *ngFor="let trashCapacity of element.trashCapacities; index as i">
                  <span class="float-left">{{i+1}}</span>
                  <mat-progress-bar class="float-left" mode="determinate" [value]="trashCapacity"></mat-progress-bar>
                  <span>{{trashCapacity}}%</span>
                </div>
              </div>
            </div>
          </div>
          <div class="clear">
            <i class="material-icons float-left emojii-icon">💧</i>
            <div>
              <mat-form-field>
                <input matInput disabled value="Soap Dispensers:">
              </mat-form-field>
              <div class="capacities">
                <div *ngFor="let soapCapacity of element.soapDispensersCapacities; index as i">
                  <span class="float-left">{{i+1}}</span>
                  <mat-progress-bar class="float-left" mode="determinate" [value]="soapCapacity"></mat-progress-bar>
                  <span>{{soapCapacity}}%</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="element-row" [class.expanded-row]="expandedElement === element"
    (click)="expandedElement = element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
</table>