
table {
    width: 100%;
  }
  
  tr.detail-row {
    height: 0;
  }
  
  tr.element-row:not(.expanded-row):hover {
    background: #f5f5f5;
  }
  
  tr.element-row:not(.expanded-row):active {
    background: #efefef;
  }
  
  .element-row td {
    border-bottom-width: 0;
  }
  
  .element-detail {
    overflow: hidden;
    display: flex;
    padding: 16px;
  }   
  
  .element-detail .material-icons {
    margin-right: 15px;
    padding-top: 10px;
    color: darkgray;
  }  
  .capacities-container {
    margin-top: -10px;
  }  
  .capacities-container > div {
    width: 300px;
    display: inline-block;
  }  
  .restroom-facility-description {
    width: 40%;
  }  

  .restroom-facility-description .description {
    display: inline-block;
    width:70px;
  }

  .restroom-facility-description div.float-right {
    margin-left: 20px;
  }

  .restroom-facility-description .capacities {
    padding-left:40px;
  }
  .restroom-facility-description .capacities > div {
    clear: both;
  }
  
  .restroom-facility-description .capacities > div > span:first-child {
    margin-right: 20px;
    display: inline-block;
  }
  .restroom-facility-description .capacities > div > span:last-child {
    padding-left: 5px;
  }
  .restroom-facility-description .capacities > div > mat-progress-bar{
    margin-top:5px;
  }

  .restRooms {
    width: 60%;
    margin-top: -15px;
  }
  .restRooms .info {
    display: inline-block;
    margin-right: 40px;
  }
  .coordinates {
    padding-left: 40px;
  }
  mat-progress-bar {
    margin-bottom: 10px;
    width: 120px;
    height: 10px;
  }

  mat-expansion-panel {
    box-shadow: unset !important;
  }