<div class="login">
  <form (ngSubmit)="register(form)" class="registration-form" #form="ngForm">
    <div class="w100p relative">
      <i class="material-icons">credit_card</i>
      <div class="w100p">
        <mat-form-field class="w100p" [hideRequiredMarker]="true">
          <input matInput placeholder="Full name" ngModel required name="fullname" id="fullname">
        </mat-form-field>
      </div>
    </div>

    <div class="w100p relative">
      <i class="material-icons">person</i>
      <div class="w100p">
        <mat-form-field class="w100p" [hideRequiredMarker]="true">
          <input matInput placeholder="Username" ngModel required name="username" id="username">
        </mat-form-field>
      </div>
    </div>

    <div class="w100p relative">
      <i class="material-icons">lock</i>
      <div class="w100p">
        <mat-form-field class="w100p" [hideRequiredMarker]="true">
          <input matInput type="password" placeholder="Password" ngModel required name="password" id="password">
        </mat-form-field>
      </div>
    </div>

    <div class="w100p relative">
      <i class="material-icons">lock</i>
      <div class="w100p">
        <mat-form-field class="w100p" [hideRequiredMarker]="true">
          <input matInput type="password" placeholder="Confirm password" ngModel required name="confirmpassword" id="confirmpassword" validateEqual="password">
        </mat-form-field>
      </div>
    </div>

    <button mat-raised-button color="primary" [disabled]="!form.valid">Create</button>
  </form>
</div>